.table {
    margin-left: auto;
    margin-right: auto;
}

.table tr td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tr .btn-update {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.table tr .btn-delete {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}